{% extends 'base.html' %}
{% block content %}

<div class="container">
  <br><br>
  <h1>Welcome: ({{ user.username }}) to your Dashboard</h1>
  <br><br>

  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}

  <div class="card">
    <!-- Plan Status -->
    <p><strong>Current Plan:</strong> {{ profile.plan|title }}</p>

    <p><strong>Plan Status:</strong>
      {% if profile.is_active %}
      Active
      {% else %}
      Not Active
      {% endif %}
    </p>

    <p><strong>Valid Until:</strong>
      {% if profile.is_active %}
      {{ profile.paid_until|date:"D, d M Y" }}
      {% else %}
      Not Active
      {% endif %}
    </p>

    <!-- Upgrade Plan -->
    {% if not profile.is_active %}
    <h3>Upgrade Plan</h3>
    <div class="upgrade-buttons">
      {% for plan in plans %}
      {% if plan.name|lower != profile.plan|lower %}
      <a href="{{ plan.pay_url }}" class="btn-secondary" target="_blank">
        Pay & Upgrade to {{ plan.name }} <br>
      </a>
      <br>
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <p>You already have an active plan. Upgrade is not available until current plan expires.</p>
    {% endif %}
  </div>

  <br />

  <!-- Flex layout for cards -->
  <div class="card-container">
    <div class="card">
      <h2>Total Clients</h2>
      <p>{{ total_clients }}</p>
    </div>
    <div class="card">
      <h2>Total Deposits</h2>
      <p>{{ total_deposit }}</p>
    </div>
    <div class="card">
      <h2>Total Loans</h2>
      <p>{{ total_loan }}</p>
    </div>
  </div>

  <!-- Chart -->
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Clients', 'Deposits', 'Loans'],
        datasets: [{
          label: 'Total Counts',
          data: [{{ total_clients }}, {{ total_deposit }}, {{ total_loan }}],
      backgroundColor: ['#3498db', '#e67e22', '#2ecc71'],
      borderColor: ['#2980b9', '#d35400', '#27ae60'],
      borderWidth: 1
        }]
      },
      options: {
      scales: {
        y: { beginAtZero: true }
      }
    }
    });
  </script>
</div>

{% endblock content %}