{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <br>
  <h2>Enter Number of Borrowers</h2>
  <form method="POST" action="{% url 'payment' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="borrowers">Number of Borrowers:</label>
      <input type="number" id="borrowers" name="borrowers" min="1" required />
    </div>

    <div class="form-group">
      <button type="submit">Proceed to Pay</button>
      <br />
      <a href="{% url 'home'%}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}